//- Edward's Polymer CV
//- (c)2015 Edward Cheng
//- Under GPLv2
doctype html
html
  head
    link(rel="import" href="/elements/cv.html")
    link(rel="stylesheet" href="/static/cv.css")
    link(rel="stylesheet" href="/static/font-lato.css")
  body
    cv-awesome

    script(src="/static/load.js")