doctype html
link(rel="import" href="../static/components/polymer/polymer.html")
link(rel="import" href="../static/components/core-component-page/core-component-page.html")
// smoosh 
link(rel="stylesheet" href="cv.css" inline)
script(src="cv.js" inline)
// endsmoosh 

polymer-element(name="cv-global" hidden)

polymer-element(name="cv-side")
  template

polymer-element(name="cv-content")
  template
    cv-global(id="cvGlobal")
    template(if="{{$.cvGlobal.global.cv_data}}")
      p author: {{$.cvGlobal.global.cv_data.source.author}}

polymer-element(name="cv-polymer")
  template
    core-ajax(id="cvSource" url="/cv-data-example.json" handleAs="json")
    cv-global(id="cvGlobal")
    cv-side(id="cvSide")
    cv-content(id="cvContent")