doctype html
link(rel="import" href="static/components/polymer/polymer.html")
// smoosh 
link(rel="stylesheet" href="cv.css" inline)
script(src="cv.js" inline)
// endsmoosh 

polymer-element(name="cv-serv-global")

polymer-element(name="cv-input")
  template
    cv-serv-global(id="serv-global")
    p
      label(for="input") Input: 
      input(id="input" value="{{global.data}}")

polymer-element(name="cv-show")
  template
    cv-serv-global(id="serv-global")
    p
      | The global is: 
      span(style="color:{{global.data}}") {{global.data}}

polymer-element(name="cv-awesome")
  template
    cv-serv-global(id="serv-global")
    .background(style="background-color: {{global.data}}" horizontal center layout)
      h1(flex) Hi, &lt;polymer-element >. You're awesome